#nav-bar{
    width: 100%;
    z-index: 1;
}
#hero-section{
    background-image: url(/assets/architect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 90vh;
}
#br-text{
    background-color: rgba(0,0,0,.75);
    display: inline-block;
    padding: 5px 20px;

}
.architect-text{

    letter-spacing: 4px;
} 
#card-team img{
    filter: grayscale(70%);
}
#img-map{
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
}